cdsp-bindings/schema/output/concentra/manual.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:proj="http://www.hp.com/cdsplus" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.hp.com/cdsplus" schemaLocation="manual_proj.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="common_xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="common_xml.xsd"/>
   <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="proj:ref" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="considered" use="required" type="xs:integer"/>
      <xs:attribute name="count" use="required" type="xs:integer"/>
      <xs:attribute ref="xml:base" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="projectref">
    <xs:complexType>
      <xs:attribute ref="xlink:type" use="required"/>
      <xs:attribute ref="xlink:href" use="required"/>
    </xs:complexType>
  </xs:element>
	<xs:element name="wrapped_component_format" type="xs:string"/>
	<xs:element name="version_label" type="xs:string"/>
	<xs:element name="valid_flag" type="xs:boolean"/>
	<xs:element name="search_keywords">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="search_keyword" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="search_keyword" type="xs:string"/>
	<xs:element name="review_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="content_groups">
    <xs:complexType>
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="projectref"/>
		 <xs:element maxOccurs="unbounded" ref="content_group"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="content_group" type="xs:string"/>
  <xs:element name="countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="country" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country" type="xs:string"/>
  <xs:element name="company_info" type="xs:string"/>
	<xs:element name="r_object_id" type="xs:string"/>
	<xs:element name="publication_priority" type="xs:string"/>
	<xs:element name="publication_destinations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="publication_destination" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication_destination" type="xs:string"/>
	<xs:element name="publication_code" type="xs:string"/>
	<xs:element name="property_update_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="products">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="product"/>
        <xs:element ref="product_types"/>
		<xs:element ref="product_series"/>
		<xs:element ref="product_names"/>
		<xs:element ref="product_number_names"/>
		<xs:element ref="product_numbers"/>
		<xs:element ref="product_lines"/>
		<xs:element ref="product_marketing_categories"/>
		<xs:element ref="product_marketing_subcategories"/>
		<xs:element ref="product_support_categories"/>
		<xs:element ref="product_support_subcategories"/>
		<xs:element ref="product_big_series"/>
		<xs:element ref="support_name_oids"/>  
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="projectref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element> 
   <xs:element name="product_name">
    <xs:complexType mixed="true">
      <xs:sequence>
       <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_type">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="original_products">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="support_subcategory">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
	<xs:element name="product_levels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product_level" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product_level" type="xs:string"/>
	<xs:element name="product_support_subcategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_series">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_big_series">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_support_categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_number_names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_numbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_marketing_subcategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_marketing_categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_lines">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="support_name_oids">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="priority" type="xs:byte"/>
	<xs:element name="planned_public_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="pixel_width" type="xs:integer"/>
	<xs:element name="pixel_height" type="xs:integer"/>
	<xs:element name="part_number" type="xs:string"/>
	<xs:element name="owner_name" type="xs:string"/>
	<xs:element name="original_system" type="xs:string"/>
	<xs:element name="original_filename" type="xs:string"/>
	<xs:element name="original_docid" type="xs:string"/>
	<xs:element name="object_name" type="xs:string"/>
	<xs:element name="master_object_name" type="xs:string"/>
	<xs:element name="action" type="xs:string"/>
	<xs:element name="language_codes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language_code" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language_code">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="language_label" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="joint_product_collections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="joint_product_collection" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="joint_product_collection" type="xs:string"/>
	<xs:element name="information_source" type="xs:string"/>
	<xs:element name="has_valid_products" type="xs:boolean"/>
	<xs:element name="full_titles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="full_title" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="full_title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="language_code" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_name">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="projectref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="file_bytes" type="xs:long"/>
	<xs:element name="extra_property_values">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extra_property_value"  maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extra_property_value" type="xs:string"/>
	<xs:element name="extra_property_name" type="xs:string"/>
	<xs:element name="extra_property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extra_property_name"/>
				<xs:element ref="extra_property_values"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extra_properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extra_property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dpi_resolution" type="xs:int"/>
	<xs:element name="document_type_details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="document_type_detail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document_type_detail" type="xs:string"/>
	<xs:element name="document_type" type="xs:string"/>
	<xs:element name="document_class" type="xs:string"/>
	<xs:element name="regions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="region" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="region" type="xs:string"/>
  <xs:element name="product_types">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
		<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
			    <xs:element ref="action"/>
				<xs:element ref="company_info"/>
				<xs:element ref="r_object_id"/>
				<xs:element ref="priority"/>
				<xs:element ref="products"/>
				<xs:element ref="document_type"/>
				<xs:element ref="version_label"/>
				<xs:element ref="regions"/>
				<xs:element ref="authors"/>
				<xs:element ref="search_keywords"/>
				<xs:element ref="content_type"/>
				<xs:element ref="property_update_date"/>
				<xs:element ref="master_object_name"/>
				<xs:element ref="full_titles"/>
				<xs:element ref="original_products"/>
				<xs:element ref="product_type"/>
				<xs:element ref="support_subcategory"/>
				<xs:element ref="product_types"/>
				<xs:element ref="product_support_subcategories"/>
				<xs:element ref="product_series"/>
				<xs:element ref="product_number_names"/>
				<xs:element ref="product_lines"/>
				<xs:element ref="support_name_oids"/>
				<xs:element ref="product_support_categories"/>
				<xs:element ref="product_big_series"/>
				<xs:element ref="product_names"/>
				<xs:element ref="product_numbers"/>
				<xs:element ref="product_marketing_categories"/>
				<xs:element ref="product_marketing_subcategories"/>
				<xs:element ref="product_levels"/>
				<xs:element ref="countries"/>
				<xs:element ref="publication_destinations"/>
				<xs:element ref="cmg_acronym"/>
				<xs:element ref="cmg_feedback_address"/>
				<xs:element ref="file_name"/>
				<xs:element ref="document_type_details"/>
				<xs:element ref="content_update_date"/>
				<xs:element ref="language_codes"/>
				<xs:element ref="joint_product_collections"/>
				<xs:element ref="extra_properties"/>
				<xs:element ref="planned_public_date"/>
				<xs:element ref="components"/>
				<xs:element ref="has_valid_products"/>
				<xs:element ref="clean_content_flag"/>
				<xs:element ref="col_id"/>
				<xs:element ref="description"/>
				<xs:element ref="valid_flag"/>
				<xs:element ref="disclosure_level"/>
				<xs:element ref="content_version"/>
				<xs:element ref="dpi_resolution"/>
				<xs:element ref="creation_date"/>
				<xs:element ref="object_name"/>
				<xs:element ref="original_docid"/>
				<xs:element ref="original_filename"/>
				<xs:element ref="original_system"/>
				<xs:element ref="owner_name"/>
				<xs:element ref="part_number"/>
				<xs:element ref="pixel_height"/>
				<xs:element ref="pixel_width"/>
				<xs:element ref="publication_priority"/>
				<xs:element ref="document_class"/>
				<xs:element ref="review_date"/>
				<xs:element ref="wrapped_component_format"/>
				<xs:element ref="file_bytes"/>
				<xs:element ref="collection_valid_flag"/>
				<xs:element ref="information_source"/>
				<xs:element ref="publication_code"/>
				<xs:element ref="content_groups"/>
			</xs:sequence>
			<xs:attribute ref="xml:base" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="disclosure_level" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="creation_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="content_version" type="xs:string"/>
	<xs:element name="content_update_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="content_type" type="xs:string"/>
	<xs:element name="components">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="component" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="component" type="xs:string"/>
	<xs:element name="collection_valid_flag" type="xs:boolean"/>
	<xs:element name="col_id" type="xs:string"/>
	<xs:element name="cmg_feedback_address" type="xs:string"/>
	<xs:element name="cmg_acronym" type="xs:string"/>
	<xs:element name="clean_content_flag" type="xs:boolean"/>
	<xs:element name="authors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author" type="xs:string"/>
</xs:schema>
