cdsp-bindings/schema/output/concentra/marketingnaconsumer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:proj="http://www.hp.com/cdsplus" xmlns:xlink="http://www.w3.org/1999/xlink">
<xs:import namespace="http://www.hp.com/cdsplus" schemaLocation="marketingnaconsumer_proj.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="common_xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="common_xml.xsd"/>
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="proj:ref" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="considered" use="required" type="xs:integer"/>
      <xs:attribute name="count" use="required" type="xs:integer"/>
      <xs:attribute ref="xml:base" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="projectref">
    <xs:complexType>
      <xs:attribute ref="xlink:type" use="required"/>
      <xs:attribute ref="xlink:href" use="required"/>
    </xs:complexType>
  </xs:element>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="action"/>
				<xs:element ref="company_info"/>
				<xs:element ref="r_object_id"/>
				<xs:element ref="priority"/>
				<xs:element ref="products"/>
				<xs:element ref="product_types"/>
				<xs:element ref="product_support_subcategories"/>
				<xs:element ref="product_series"/>
				<xs:element ref="product_big_series"/>
				<xs:element ref="product_support_categories"/>
				<xs:element ref="product_number_names"/>
				<xs:element ref="product_names"/>
				<xs:element ref="product_numbers"/>
				<xs:element ref="product_marketing_subcategories"/>
				<xs:element ref="product_marketing_categories"/>
				<xs:element ref="product_lines"/>
				<xs:element ref="support_name_oids"/>
				<xs:element ref="product_levels"/>
				<xs:element ref="document_type"/>
				<xs:element ref="version_label"/>
				<xs:element ref="cmg_feedback_address"/>
				<xs:element ref="collection_valid_flag"/>
				<xs:element ref="information_source"/>
				<xs:element ref="content_type"/>
				<xs:element ref="content_update_date"/>
				<xs:element ref="master_object_name"/>
				<xs:element ref="property_update_date"/>
				<xs:element ref="document_type_details"/>
				<xs:element ref="marketing_keywords"/>
				<xs:element ref="language_label"/>
				<xs:element ref="audiences"/>
				<xs:element ref="extra_properties"/>
				<xs:element ref="accounts"/>
				<xs:element ref="authors"/>
				<xs:element ref="marketing_teams"/>
				<xs:element ref="regions"/>
				<xs:element ref="countries"/>
				<xs:element ref="search_keywords"/>
				<xs:element ref="selling_windows"/>
				<xs:element ref="renditions"/>
				<xs:element ref="full_title"/>
				<xs:element ref="has_valid_products"/>
				<xs:element ref="col_id"/>
				<xs:element ref="confidential_comment"/>
				<xs:element ref="content_history"/>
				<xs:element ref="description"/>
				<xs:element ref="disclosure_level"/>
				<xs:element ref="content_version"/>
				<xs:element ref="language_code"/>
				<xs:element ref="miscellaneous_comment"/>
				<xs:element ref="creation_date"/>
				<xs:element ref="object_name"/>
				<xs:element ref="original_docid"/>
				<xs:element ref="original_filename"/>
				<xs:element ref="original_system"/>
				<xs:element ref="document_class"/>
				<xs:element ref="review_date"/>
				<xs:element ref="show_as_new_duration"/>
				<xs:element ref="valid_flag"/>
			</xs:sequence>
			<xs:attribute ref="xml:base" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="action" type="xs:string"/>
	<xs:element name="version_label" type="xs:string"/>
	<xs:element name="valid_flag" type="xs:boolean"/>
	<xs:element name="show_as_new_duration" type="xs:string"/>
	<xs:element name="selling_windows">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="selling_window" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="selling_window" type="xs:string"/>
	<xs:element name="search_keywords">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="search_keyword" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="search_keyword" type="xs:string"/>
	<xs:element name="review_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="renditions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rendition" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="rendition">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="projectref"/>
      </xs:sequence>
      <xs:attribute name="content_type" use="required" type="xs:NCName"/>
      <xs:attribute name="last_updated_date" use="required" type="xs:dateTime"/>
      <xs:attribute name="size" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="countries">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="country" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="country" type="xs:string"/>
	<xs:element name="regions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="region" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="region" type="xs:string"/>
	<xs:element name="r_object_id" type="xs:string"/>
	<xs:element name="company_info" type="xs:string"/>
	<xs:element name="property_update_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="products">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="product" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="product">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="projectref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="priority" type="xs:byte"/>
	<xs:element name="original_system" type="xs:string"/>
	<xs:element name="original_filename" type="xs:string"/>
	<xs:element name="original_docid" type="xs:string"/>
	<xs:element name="object_name" type="xs:string"/>
	<xs:element name="miscellaneous_comment" type="xs:string"/>
	<xs:element name="master_object_name" type="xs:string"/>
	<xs:element name="marketing_teams">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="marketing_team" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="marketing_team" type="xs:string"/>
	<xs:element name="marketing_keywords">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="marketing_keyword" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="marketing_keyword" type="xs:string"/>
	<xs:element name="language_label" type="xs:string"/>
	<xs:element name="language_code" type="xs:string"/>
	<xs:element name="information_source" type="xs:string"/>
	<xs:element name="has_valid_products" type="xs:boolean"/>
	<xs:element name="full_title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="language_code" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="extra_property_values">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extra_property_value"  maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extra_property_value" type="xs:string"/>
	<xs:element name="extra_property_name" type="xs:string"/>
	<xs:element name="extra_property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extra_property_name"/>
				<xs:element ref="extra_property_values"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="extra_properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="extra_property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document_type_details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="document_type_detail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document_type_detail" type="xs:string"/>
	<xs:element name="document_type" type="xs:string"/>
	<xs:element name="document_class" type="xs:string"/>
	<xs:element name="disclosure_level" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="creation_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="content_version" type="xs:string"/>
	<xs:element name="content_update_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="content_type" type="xs:string"/>
	<xs:element name="content_history" type="xs:string"/>
	<xs:element name="confidential_comment" type="xs:string"/>
	<xs:element name="collection_valid_flag" type="xs:boolean"/>
	<xs:element name="col_id" type="xs:string"/>
	<xs:element name="cmg_feedback_address" type="xs:string"/>
	<xs:element name="product_types">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_support_subcategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_series">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_big_series">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_support_categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_number_names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_numbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_marketing_subcategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_marketing_categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_lines">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="support_name_oids">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="product_levels">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
	<xs:element name="authors">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author" type="xs:string"/>
	<xs:element name="audiences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="audience" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="audience_release_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="audience_name" type="xs:string"/>
	<xs:element name="audience_expiry_date" type="xs:dateTime" nillable="true"/>
	<xs:element name="audience">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="audience_name"/>
				<xs:element ref="audience_release_date"/>
				<xs:element ref="audience_expiry_date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="accounts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="account" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="account" type="xs:string"/>
</xs:schema>
